<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--
HTML code would be added to the below div tag
which would be taken as an input from the user.
-->
<div >
    <center>
        <img width="200" height="130" data-bit="iit" src="cid:logo">
    </center>

    <p style="padding: 5px; margin-top: -50px">
        Hello <b>User</b>, <br>
        Thank you for choosing <b>EventMaster</b>. Use this OTP to complete your Sign Up procedures and verify your account on <b>EventMaster</b>.
        <br><br>
        <b>Remember</b>, Never share this OTP with
        anyone, not even if <b>EventMaster</b> ask to you.
    </p>

    <p style="
                    border-radius: 10px;
                    width: fit-content;
                    padding: 1rem 3rem;
                    background-color: #85C1E9;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: #FFFF;
                    "


       th:utext="${content}">
        8 8 8 8
    </p>
    <p style="padding: 5px; ">
        Regards, <br>
        Team <b>EventMaster</b>
    </p>
</div>
</body>
</html>